Repository helenjhuh/PersonalFi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wdengle1, @hhuh1, @ckim5, @asriniv2

initial outline of features (#2)
  README.md
Owners: @asriniv2

Update (#3)
  README.md
Owners: @asriniv2

Fix formatting.
  README.md
Owners: @asriniv2

Add initial app.
  pfgame/__init__.py
  pfgame/admin.py
  pfgame/apps.py
  pfgame/migrations/__init__.py
  pfgame/models.py
  pfgame/tests.py
  pfgame/views.py
Owners: @wdengle1

Add files via upload
  personalfi.html
Owners: @hhuh1, @ckim5

Updates
  README.md
Owners: @asriniv2

Updates (#5)
  README.md
Owners: @asriniv2

Implement initial proposed database schema.
  PersonalFi/settings.py
  pfgame/admin.py
  pfgame/apps.py
  pfgame/migrations/0001_initial.py
  pfgame/models.py
  pfgame/signals.py
Owners: @wdengle1

Implement initial database schema (#6)
  PersonalFi/settings.py
  pfgame/__init__.py
  pfgame/admin.py
  pfgame/apps.py
  pfgame/migrations/0001_initial.py
  pfgame/migrations/__init__.py
  pfgame/models.py
  pfgame/signals.py
  pfgame/tests.py
  pfgame/views.py
Owners: @wdengle1

Made some minor corrections with organizing tags to get page to work
  personalfi.html
Owners: @hhuh1, @ckim5

.github/CODEOWNERS:

# PersonalFi code owners
# Back-end code
*.py @wdengle1
*.sh @wdengle1
*.service @wdengle1

# Front-end code
*.htm* @hhuh1 @ckim5
*.css @hhuh1 @ckim5
*.js @hhuh1 @ckim5

# Documentation
*.md @asriniv2
*.tex @asriniv2
